<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>loginServlet</servlet-name>
        <servlet-class>servlets.loginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getFlowDefinitionServlet</servlet-name>
        <servlet-class>servlets.getFlowDefinitionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddFlowServlet</servlet-name>
        <servlet-class>servlets.AddFlowServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetExecutionData</servlet-name>
        <servlet-class>servlets.GetExecutionDataServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExecuteFlowServlet</servlet-name>
        <servlet-class>servlets.ExecuteFlowServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetRoleDefinitionServlet</servlet-name>
        <servlet-class>servlets.GetRoleDefinitionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FlowListServlet</servlet-name>
        <servlet-class>servlets.FlowListServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetUniqueFlowExecutionIdCounterServlet</servlet-name>
        <servlet-class>servlets.GetUniqueFlowExecutionIdCounterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getHistoryAdminServlet</servlet-name>
        <servlet-class>servlets.getHistoryAdminServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetExecutionsStatisticsServlet</servlet-name>
        <servlet-class>servlets.GetExecutionsStatisticsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetStepExecutionStatisticsServlet</servlet-name>
        <servlet-class>servlets.GetStepExecutionStatisticsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetStepExecutionStatisticsServlet</servlet-name>
        <url-pattern>/getStepExecutionStatistics</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetExecutionsStatisticsServlet</servlet-name>
        <url-pattern>/getExecutionsStatistics</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>GetUsersListServlet</servlet-name>
        <servlet-class>servlets.GetUsersListServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetRolesListServlet</servlet-name>
        <servlet-class>servlets.GetRolesListServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateRoleServlet</servlet-name>
        <servlet-class>servlets.CreateRoleServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExampleJsonServlet</servlet-name>
        <servlet-class>servlets.ExampleJsonServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ExampleJsonServlet</servlet-name>
        <url-pattern>/exampleJson</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateRoleServlet</servlet-name>
        <url-pattern>/createRole</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetRoleDefinitionServlet</servlet-name>
        <url-pattern>/getRoleDefinition</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetUsersListServlet</servlet-name>
        <url-pattern>/userList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetRolesListServlet</servlet-name>
        <url-pattern>/rolesList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getHistoryAdminServlet</servlet-name>
        <url-pattern>/getFlowsAdminHistory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>loginServlet</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetExecutionData</servlet-name>
        <url-pattern>/executionData</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExecuteFlowServlet</servlet-name>
        <url-pattern>/execute</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetUniqueFlowExecutionIdCounterServlet</servlet-name>
        <url-pattern>/UniqueFlowExecutionIdCounter</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddFlowServlet</servlet-name>
        <url-pattern>/addXML</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FlowListServlet</servlet-name>
        <url-pattern>/flowList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getFlowDefinitionServlet</servlet-name>
        <url-pattern>/getFlowDefinition</url-pattern>
    </servlet-mapping>

</web-app>